<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>회원정보123</h1>
    <div th:each="member : ${list}">
        <div>회원번호 : <span th:text="${member.memberNo}">번</span></div>
        <div>이름 : <span th:text="${member.memberName}">님</span></div>
        <div>이메일 : <span th:text="${member.memberEmail}"></span></div>
        <div>성별 : <span th:text="${member.memberSex}"></span></div>
        <div>휴대전화 : <span th:text="${member.memberPhone}"></span></div>
        <div>생년월일 : <span th:text="${member.memberBirth}"></span></div>
    </div>



</body>
</html>